body {
	background-image: url(../IMAGENES/fondoWEBdifuminado1920.png);
	background-size: cover; /* Escala la imagen para cubrir todo el fondo */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-position: center; /* Centra la imagen en el fondo */
	background-attachment: fixed; /* Fija la imagen en el fondo */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*INICIO ENCABEZADO*/
header {
	display: flex;
	align-items: center;
	background-color: #5786C3;
	width: 100%;
	border-radius: 0.3em;
	opacity: 0.8;
	gap: 1.8em;
}

#logonav {
	display: flex;
	align-items: center;
	margin-left: 2%;
}

#logo {
	max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#navegador {
	height: auto;
	margin-left: 18%;
}

#navegador ul {
	justify-content: center;
	list-style: none;
	display: inline-flex;
}

#navegador ul li {
	margin: 0 0.625em;
}

#navegador a {
	text-decoration: none;
	color: #F2EBC3;
	font-size: 130%;
	position: relative;
	transition: color 0.3s ease-in-out;
	padding: 0.3em
}

#navegador a:hover {
	color: #F46B20;
}

#navegador a.active {
	background-color: #F46B20;
	border-radius: 0.2em;
	transition: 0.5s;
}

#navegador a.active:hover {
	color: #F2EBC3;
}

/*FIN ENCABEZADO*/


main {
	flex: 1; /* Hace que el main ocupe el espacio disponible */
}

/*CONTENIDO DE INICIO*/

#intro {
	display: flex;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgb(242, 235, 195, 0.5);
	border-radius: 0.3em;
	padding: 2%;
}


#txt {
	color: white;
}


#noticias {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.noticia {
	display: flex;
	flex-direction: column;
	width: 25%;
	border-radius: 0.625em;
	overflow: hidden;
	background-color: white;
	margin: 1.25em auto;
}

.noticia img {
	height: auto;
	width: 100%;
}

.noticia-link {
	color: black;
	text-decoration: none;
}

.noticia-link:hover {
	text-decoration: underline;
}

.noticia-titulo {
	padding: 0.938em; /* Espaciado interno del título de la noticia */
}

#contact p {
	color: white;
	font-weight: bold;
}

/*FIN CONTENIDO DE INICIO*/


/*INICIO DE FOOTER*/
footer {
	background-color: #13427E;
	width: 100%;
	color: #fffcef;
}

.footer {
	display: flex;
	opacity: 0.8;
	align-items: center; /* Centra los elementos horizontalmente */
	gap: 0.5em;
	justify-content: space-between;
	padding: 1em;
}

.footer p {
	font-size: 1em;
	font-weight: bold;
}

#logof {
	display: flex;
	align-items: center;
}

#logof img {
	max-width: 100%;
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#con {
	text-align: center;
}

#con i {
	font-size: 2em;
	margin: 0.5em;
}

#contacto {
	text-align: right;
}

#contacto a:active, #contacto a:visited, #contacto a:link {
	color: #fffcef;
	text-decoration: none;
	font-weight: normal;
}

#contacto span {
	font-weight: normal;
}

.fa-instagram, .fa-x-twitter, .fa-youtube {
	color: #fffcef;
	transition: color 0.3s ease-in-out;
}

.fa-instagram {
	transition: color 0.3s, background 0.3s, -webkit-mask-image 0.3s ease-in-out;
	-webkit-mask-image: none;
	mask-image: none;
}

.fa-instagram:hover {
	color: transparent;
  	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
	-webkit-background-clip: text;
  	background-clip: text;
}

.fa-x-twitter:hover {
	color: black;
}

.fa-youtube:hover {
	color: #FF0000;
}

.copyright {
	text-align: center;
	color: #fffcef;
}

/*FIN FOOTER*/


/* INICIO DE CONTACTO */

.contacto {
	margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto h1 {
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contacto form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
	margin-bottom: 1.5em;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contacto input, .contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.contacto textarea {
    resize: vertical;
    height: 100px;
}

.contacto button {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.contacto button:hover {
    background:#5786C3;
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.success-message .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* FIN DE CONTACTO */

/*RESPONSIVE*/
/* Estilos para ordenador */
@media (min-width: 1025px) {}

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Estilos para móvil */
@media (max-width: 767px) {}