body {
	background-image: url(../img/fondoWEBdifuminado1920.png);
	background-size: cover; /* Escala la imagen para cubrir todo el fondo */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-position: center; /* Centra la imagen en el fondo */
	background-attachment: fixed; /* Fija la imagen en el fondo */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*INICIO ENCABEZADO*/
header {
	display: flex;
	align-items: center;
	background-color: #5786C3;
	width: 100%;
	border-radius: 0.3em;
	opacity: 0.8;
	gap: 1.8em;
}

#logonav {
	display: flex;
	align-items: center;
	margin-left: 2%;
}

#logo {
	max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#navegador {
	height: auto;
	margin-left: 18%;
}

#navegador ul {
	justify-content: center;
	list-style: none;
	display: inline-flex;
}

#navegador ul li {
	margin: 0 0.625em;
}

#navegador a {
	text-decoration: none;
	color: #F2EBC3;
	font-size: 130%;
	position: relative;
	transition: color 0.3s ease-in-out;
	padding: 0.3em
}

#navegador a:hover {
	color: #F46B20;
}

#navegador a.active {
	background-color: #F46B20;
	border-radius: 0.2em;
	transition: 0.5s;
}

#navegador a.active:hover {
	color: #F2EBC3;
}

/*FIN ENCABEZADO*/


main {
	flex: 1; /* Hace que el main ocupe el espacio disponible */
}

/*CONTENIDO DE INICIO*/

#intro {
	display: flex;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgb(242, 235, 195, 0.5);
	border-radius: 0.3em;
	padding: 2%;
}


#txt {
	color: white;
}


#noticias {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.noticia {
	display: flex;
	flex-direction: column;
	width: 25%;
	border-radius: 0.625em;
	overflow: hidden;
	background-color: white;
	margin: 1.25em auto;
}

.noticia img {
	height: auto;
	width: 100%;
}

.noticia-link {
	color: black;
	text-decoration: none;
}

.noticia-link:hover {
	text-decoration: underline;
}

.noticia-titulo {
	padding: 0.938em; /* Espaciado interno del título de la noticia */
}

#contact p {
	color: white;
	font-weight: bold;
}

/*FIN CONTENIDO DE INICIO*/


/*INICIO DE FOOTER*/
footer {
	background-color: #13427E;
	width: 100%;
	color: #fffcef;
}

.footer {
	display: flex;
	opacity: 0.8;
	align-items: center; /* Centra los elementos horizontalmente */
	gap: 0.5em;
	justify-content: space-between;
	padding: 1em;
}

.footer p {
	font-size: 1em;
	font-weight: bold;
}

.footer-title {
	font-size: 1.5em !important;
}

#logof {
	display: flex;
	align-items: center;
}

#logof img {
	max-width: 100%;
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#con {
	text-align: center;
}

#con i {
	font-size: 2em;
	margin: 0.5em;
}

#contacto {
	text-align: right;
}

#contacto a:active, #contacto a:visited, #contacto a:link {
	color: #fffcef;
	text-decoration: none;
	font-weight: normal;
}

#contacto span {
	font-weight: normal;
}

.fa-instagram, .fa-x-twitter, .fa-youtube {
	color: #fffcef;
	transition: color 0.3s ease-in-out;
}

.fa-instagram {
	transition: color 0.3s, background 0.3s, -webkit-mask-image 0.3s ease-in-out;
	-webkit-mask-image: none;
	mask-image: none;
}

.fa-instagram:hover {
	color: transparent;
  	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
	-webkit-background-clip: text;
  	background-clip: text;
}

.fa-x-twitter:hover {
	color: black;
}

.fa-youtube:hover {
	color: #FF0000;
}

.copyright {
	text-align: center;
	color: #fffcef;
}

/*FIN FOOTER*/


/* INICIO DE CLASIFICACIÓN */

.contenedor-clasificacion {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: white;
    padding: 1.25em;
}

.contenedor-clasificacion h1 {
    margin-left: 2em;
}

.clasificacion-contenido {
    padding: 2em;
}

.clasificacion-contenido table {
    width: 80%;
    border-collapse: separate;
    margin-top: 1em;
    border-radius: 1em;
    overflow: hidden;
}

.clasificacion-contenido th, td {
    padding: 1em;
    text-align: center;
}

.clasificacion-contenido th {
    background-color: #333;
    color: white;
}

.clasificacion-contenido tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #333;
}

.clasificacion-contenido tr:nth-child(odd) {
    background-color: #e4e3e3;
    color: #333;
}

.clasificacion-contenido tr:nth-child(even):hover {
    background-color: #ddd;
}

.clasificacion-contenido tr:nth-child(odd):hover {
    background-color: #cacaca;
}

.clasificacion-equipo {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.clasificacion-equipo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.clasificacion-logo {
    width: 3em;
    height: 3em;
    object-fit: cover;
    margin-right: 1em;
}

.clasificacion-contenido td[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 0.9em;
    top: 10px;
    left: 100%;
    white-space: nowrap;
}

/* FIN DE CLASIFICACIÓN */


/* INICIO DE EQUIPOS */

.contenedor-equipos {
	display: flex;
    flex-direction: column;
	gap: 1.5em;
    color: white;
    padding: 1.25em;
}

.temporada-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temporada-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.temporada-header label {
    font-size: 1.125em;
	margin-right: 1em;
}

#temporadaSelect {
    padding: 0.625em;
    font-size: 1em;
    background-color: #fff;
    border: 0.125em solid #333;
    border-radius: 0.3125em;
    margin-bottom: 1.25em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#temporadaSelect:hover, #temporadaSelect:focus {
    background-color: #f0f0f0;
}

.equipos {
    display: flex;
	flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
	color: #5f5f5f;
	width: 70%;
    margin: 0 auto;
}

.equipos p {
	color: white;
}

.equipo {
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 0.625em;
	width: 15em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.equipo:hover {
    transform: scale(1.1);
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.2);
}

.logo {
    width: 6.25em;
    height: 6.25em;
    margin-bottom: 0.625em;
    object-fit: cover;
    transition: transform 0.3s;
}

.logo:hover {
    transform: rotate(360deg);
}

.equipo strong {
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
	white-space: nowrap;
}

.detalles-equipo {
    display: none;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    transition: all 0.3s;
    color: #5f5f5f;
}

.equipo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.equipo-header h1 {
    color: #424242;
}

.equipo-logo {
    display: flex
;
    align-items: center;
}

.equipo-logo img {
    width: 8em;
    height: 8em;
    object-fit: cover;
    margin-right: 2em;
}

.equipo-info {
    margin-right: 2em;
}

.equipo-info p {
    font-size: 1.125em;
    margin: 0.5em 0;
}

.equipo-info strong {
    color: #424242;
}

.jugadores h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    color: #424242;
}

.jugadores-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    width: 80%;
    margin: 0 auto;
}

.jugador {
    text-align: center;
    min-width: 10em;
    color: #5f5f5f;
}

.jugador-foto {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.jugador-info {
    font-size: 1.1em;
}

.jugador-info p {
    margin: 0.2em 0;
}

.jugador-info strong {
    color: #424242;
}

/* FIN DE EQUIPOS */


/* INICIO DE CLASIFICACIÓN */

.clasificacion-contenido {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
}

/* FIN DE CLASIFICACIÓN */


/* INICIO DE CONTACTO */

.contacto {
	margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto h1 {
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contacto form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
	margin-bottom: 1.5em;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contacto input, .contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.contacto textarea {
    resize: vertical;
    height: 100px;
}

.contacto button {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.contacto button:hover {
    background:#5786C3;
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.success-message .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* FIN DE CONTACTO */

/*RESPONSIVE*/
/* Estilos para ordenador */
@media (min-width: 1025px) {}

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Estilos para móvil */
@media (max-width: 767px) {}